<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="szymonwolyniec.activrun">

    <!-- Od początkowych do androida 5.0 wystarczyło -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- Od 6.0 nowy system, który pyta użytkownika o pozwolenie -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_activrun_launcher_icon"
        android:roundIcon="@mipmap/ic_activrun_launcher_icon_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6IyQM-LWTPgO3bFBluZt8cjFmaXBm-xg" />

        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".WorkoutActivity" android:screenOrientation="portrait"/>

        <activity
            android:name=".SetAdminPassword"
            android:label="@string/title_activity_set_admin_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>